

grid-item1{  
    p{ font-size: 20px;
    color: rgb(5, 5, 5);}}



/**main***/

section{ div  { 
        p{
    display: flex;
    flex-direction: column;
    font-size: 20PX;
    color: rgba(67, 110, 94, 0.952);
    
}
}
}


    .FlexContainer13{
        p{
        font-size: 20px;
        color: rgb(5, 5, 5);
        }
    }
    
    
    .contenedorFormulario{
        p{
        color:black
    }}
    



    grid-item1{  
        p{ font-size: 20px;
        color: rgb(5, 5, 5);}}


grid-container1{
    div{ 
    p{
    font-size: 15px;
    color:black
    }
    }}

